{% extends 'content_container.html' %}

{% block title %}Create Slave - {% endblock title %}

{% block content %}
    <h3 class="text-center">Create Slave</h3>
    <hr />

    <form method="POST">
        {% csrf_token %}
        {% include 'form.html' %}
        <button class="btn btn-primary float-right">Create</button>
    </form>
{% endblock content %}