{% extends 'content_container.html' %}

{% block title %}Delete Slave{% endblock title %}


{% block content %}
    <h3 class="text-center">Delete Slave</h3>
    <hr />

    <div class="col-sm-12 col-md-8 mx-auto">
        <div class="card card-body">
            <form class="form" method="POST">
                {% csrf_token %}
                <p>Really delete Slave?</p>
                <a href="{% url 'master-slave:index' %}" class="btn btn-secondary">Back</a>
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
{% endblock content %}