{% extends 'content_container.html' %}


{% block title %}Master Slave - {% endblock title %}

{% block content %}
    <h3 class="text-center">Master-Slave Application</h3>
    <hr />

    <div class="clearfix mb-3">
        <div class="float-right">
            <a href="{% url 'master-slave:create-slave' %}" class="btn btn-outline-primary">
                <i class="fa fa-plus"></i> Create Slave
            </a>
        </div>
    </div>

    {% include 'master_slave/compontents/slave_list.html' %}
{% endblock content %}