{% extends 'content_container.html' %}


{% block title %}{{ slave.name }} - {% endblock title %}


{% block content %}

    <h3 class="text-center">{{ slave.name }}</h3>
    <hr />

    <div class="clearfix">
        <a class="btn float-right btn-danger" href="{% url 'master-slave:delete-slave' slave.pk %}">Delete</a>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <p><strong>Client ID: </strong>{{ slave.client_id }}</p>
            <p><strong>Client Secret: </strong>{{ slave.client_secret }}</p>
        </div>
    </div>
{% endblock content %}