{% extends 'content_container.html' %}

{% block title %}Edit Profile - {% endblock title %}

{% block content %}
    <h3 class="text-center">Edit Profile</h3>
    <hr/>

    <form class="form" method="POST">
        {% csrf_token %}
        {% include 'form.html' %}
        <button class="btn btn-primary float-right">Save</button>
    </form>
{% endblock content %}