{% extends 'content_container.html' %}


{% block title %}{{ user }} - {% endblock title %}


{% block content %}
    <h3 class="text-center">{{ user }}</h3>
    <hr />
    {% if user == request.user %}
        <a class="float-right btn btn-outline-info" href="{% url 'accounts:edit-profile' %}"><i class="fa fa-edit"></i> Edit</a>
    {% endif %}
    {% if user.first_name or user.last_name %}
        <p><strong>Name: </strong>{{ user.first_name }} {{ user.last_name }}</p>
    {% else %}
        <p><strong>Name: </strong>{{ user.username }}</p>
    {% endif %}
    <p><strong>About Me: </strong></p>
    <p>{{ user.profile.about_me|linebreaksbr }}</p>
    <p><strong>Contact details: </strong></p>
    <p>{{ user.profile.contact_details|linebreaksbr }}</p>
    <p><strong>Prefered Bug Bounty: </strong></p>
    <p>{{ user.profile.prefered_bug_bounty|linebreaksbr }}</p>


    <h4>TODOs</h4>
    <ul>
        <li>show awards</li>
        <li>show reported bugs list</li>
    </ul>

{% endblock content %}