{% extends 'content_container.html' %}

{% block title %}Settings - {% endblock title %}

{% block content %}
    <h3 class="text-center">Settings</h3>
    <hr />
    <form method="post">
        {% csrf_token %}
        {% include 'form.html' %}
        <button class="float-right btn btn-primary pl-5 pr-5">Save</button>
    </form>
{% endblock content %}