{% extends 'base.html' %}

{% block title %}Signup -{% endblock title %}


{% block content %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="card w-100">
                <div class="card card-header"><h3 class="text-center">Signup</h3></div>
                <div class="card card-body">
                    {% if REGISTRATION_ENABLED %}
                        <form method="POST">
                            {% csrf_token %}
                            {% include "form.html" %}
                            <button class="btn-primary btn text-center w-100">Signup</button>
                        </form>
                    {% else %}
                        <div class="alert alert-info">Registration currently disabled!</div>
                    {% endif %}
                </div>
                <div class="card card-footer">
                    <small>or <a href="{% url 'accounts:login_view' %}">Login</a></small>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}