{% extends 'content_container.html' %}

{% block title %}Bugs -{% endblock title %}

{% block content %}
    <h3 class="text-center">Reported Bugs</h3>
    <hr />
    <div class="list-group">
        {% for bug in bugs %}
            {% include 'bughunting/components/bug_list_item.html' with bug=bug %}
        {% empty %}
            <div class="alert alert-info">No bug found!</div>
        {% endfor %}
    </div>
    {% include 'navigation/paginator.html' %}
{% endblock content %}