{% extends 'content_container.html' %}

{% block title %}{{ bug.name }} - {% endblock title %}


{% block content %}
    <div class="float-right">
        {% include 'bughunting/components/bug_status_badge.html' %}
    </div>
    <h3 class="text-center">{{ bug }}</h3>
    <hr />
    <div class="card card-body">
        {% if bug.bugmeta.user == request.user and not bug.bugmeta.is_fixed %}
            <div class="float-right">
                <button class="btn btn-outline-info float-right" type="button" data-toggle="modal" data-target="#edit_bug_modal">
                    <i class="fa fa-edit"></i> Edit
                </button>
            </div>
            {% if not bug.bugmeta.is_disclosed %}
                <div class="float-right">
                    <button class="btn btn-outline-secondary float-right" type="button" data-toggle="modal" data-target="#increase_bug_date_disclosure_modal">
                        <i class="fa fa-chart-line"></i> Increase date disclosure
                    </button>
                </div>
            {% endif %}
        {% elif is_domain_owner %}
            <div class="float-right">
                <button class="btn btn-outline-info">Mark as fixed</button>
            </div>
        {% endif %}
        {% if request.user.is_staff and not bug.bugmeta.is_draft and not bug.bugmeta.approved %}
            <div class="float-right">
                <button class="btn btn-outline-primary float-right" type="button" data-toggle="modal" data-target="#approve_bug_modal">
                    <i class="fa fa-check"></i> Approve
                </button>
            </div>
        {% endif %}
        <p><strong>Domain: </strong>{{ bug.domain }}</p>
        <p><strong>Name: </strong>{{ bug.name }}</p>
        <p><strong>Submitted: </strong>{{ bug.bugmeta.date_discovered }}</p>
        <p><strong>Bug-Hunter: </strong>{{ bug.bugmeta.user }}</p>
        {% if bug.bugmeta.is_disclosed or request.user == bug.bugmeta.user or is_domain_owner %}
            {% if bug.bugmeta.is_disclosed %}
                <p><strong>Date disclosed: </strong>{{ bug.bugmeta.date_disclosed }}</p>
            {% else %}
                <p><strong>Date disclosure: </strong>{{ bug.bugmeta.date_disclosure }}</p>
            {% endif %}
            <p><strong>Parameter: </strong>{{ bug.parameter }}</p>
            <p><strong>Path: </strong>{{ bug.path }}</p>
            <p><strong>Proof-of-concept: </strong>{{ bug.proof_of_concept | linebreaksbr }}</p>
        {% else %}
            <p><strong>Date disclosure: </strong>{{ bug.bugmeta.date_disclosure }}</p>
            <div class="alert alert-info">Details hidden until disclosure!</div>
        {% endif %}
    </div>

    {% include 'bughunting/components/edit_bug_modal.html' %}
    {% include 'bughunting/components/increase_bug_date_disclosure_modal.html' with form=increase_date_disclosure_form %}
    {% if request.user.is_staff %}
        {% include 'bughunting/components/approve_bug_modal.html' with form=approve_bug_form %}
    {% endif %}

    {% if bug.bugmeta.is_disclosed or request.user == bug.bugmeta.user or is_domain_owner %}
        <div class="mt-5">
            <h4>Comments: </h4>
            {% include 'bughunting/components/bug_comments_list.html' with comments=bug.comment_set.all %}
        </div>
    {% endif %}

    {% if write_comment_form %}
        <div class="mt-5">
            {% include 'bughunting/components/write_comment_form.html' with form=write_comment_form %}
        </div>
    {% endif %}
{% endblock content %}