{% extends 'content_container.html' %}


{% block title %}{% endblock title %}


{% block content %}
    <h3 class="text-center">Submit bug</h3>
    <hr />
    <form method="post">
        {% csrf_token %}
        {% include 'form.html' %}
        <button class="btn btn-info float-right pl-5 pr-5">Submit</button>
    </form>
{% endblock content %}