{% extends 'content_container.html' %}
{% load staticfiles %}

{% block title %}Dashboard - {% endblock title %}

{% block extra_head %}
    <script src="{% static 'js/highcharts.js' %}"></script>
{% endblock extra_head %}


{% block content %}
    <h3 class="text-center">Dashboard</h3>
    <hr />

    <div class="row">
      <div class="col-sm-12 col-md-4">
          <div class="card">
              <div id="fixed_unfixed_bugs_chart_container"></div>
          </div>
      </div>
      <div class="col-sm-12 col-md-4">
          <div class="card">
              <div id="fixed_unfixed_bugs_chart_container"></div>
          </div>
      </div>
      <div class="col-sm-12 col-md-4">
          <div class="card">
              <div id="fixed_unfixed_bugs_chart_container"></div>
          </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-sm-12">
        <h3 class="text-center">Latest Bug Submissions</h3>
        <hr />
        {% include 'accounts/components/latest_bug_submissions.html' %}
      </div>
    </div>
{% endblock content %}


{% block extra_scripts %}
    {% include 'accounts/components/charts/fixed_unfixed_bugs_charts.html' %}
{% endblock extra_scripts %}
