{% extends 'base.html' %}

{% block title %}Login -{% endblock title %}


{% block content %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="card w-100">
                <div class="card card-header"><h3 class="text-center">Login</h3></div>
                <div class="card card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {% include "form.html" %}
                        <button class="btn-primary btn text-center w-100">Login</button>
                    </form>
                </div>
                <div class="card card-footer">
                    <small>or <a href="{% url 'accounts:signup_view' %}">signup</a></small>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}