<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{% url 'public:index-page' %}">Open Pentesting and Security Framework</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <ul class="nav navbar-nav nav-flex-icons mr-auto text-light">
      <li class="nav-item">
        {% if request.user.is_authenticated %}
          <a class="nav-link" href="{% url 'accounts:dashboard:index' %}">Dashboard
            <span class="sr-only">(current)</span>
          </a>
        {% else %}
          <a class="nav-link" href="{% url 'public:index-page' %}">Home
            <span class="sr-only">(current)</span>
          </a>
        {% endif %}
      </li>


      {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="#"> My Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'master-slave:index' %}">Master-Slave</a>
          </li>
      {% endif %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="bug_hunting_dropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Bug-Hunting</a>
        <div class="dropdown-menu" aria-labelledby="bug_hunting_dropdown">
          <a class="dropdown-item" href="{% url 'bughunting:all_bugs' %}">All Bugs</a>
          <a class="dropdown-item" href="{% url 'bughunting:my-bugs' %}">My Bugs</a>
          <a class="dropdown-item" href="{% url 'bughunting:submit-bug' %}">Submit Bug</a>
          {% if request.user.is_authenticated and request.user.is_staff %}
                <a class="dropdown-item" href="{% url 'bughunting:bugs-approval-list' %}">Approve bugs</a>
          {% endif %}
        </div>
      </li>

        {% if request.user.is_authenticated and request.user.blog %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="blogging_dropdown" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Blogging</a>
                <div class="dropdown-menu" aria-labelledby="blogging_dropdown">
                    <a class="dropdown-item" href="#">New Post</a>
                    <a class="dropdown-item" href="#">View my blog</a>
                </div>
            </li>
        {% endif %}
    </ul>

    <ul class="nav navbar-nav nav-flex-icons ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="javascript:alert('not implemented')">
          <i class="fa fa-envelope"></i> <span class="clearfix d-none d-sm-inline-block">Contact</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://codeberg.org/OPAS-F/opas-f-server/issues" target="_blank">
          <i class="fa fa-comments-o"></i> <span class="clearfix d-none d-sm-inline-block">Support</span>
        </a>
      </li>
      {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="user_menu_dropdown" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-user"></i>
            {{request.user.username}}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user_menu_dropdown">
            <a class="dropdown-item" href="{% url 'accounts:profile' request.user.pk %}">Profile</a>
            <a class="dropdown-item" href="{% url 'accounts:settings' %}">Settings</a>
            <a class="dropdown-item" href="{% url 'accounts:logout_view' %}">Logout</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:login_view' %}">
            <i class="fa fa-lock"></i> <span class="clearfix d-none d-sm-inline-block">Login</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
