<div class="card">
    <div class="card card-header">
        Bughunting
    </div>
    <div class="card card-body">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <div id="fixed_unfixed_bugs_chart_container"></div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <div id="top_bug_categories_chart_container"></div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                {% include 'public/components/stat_counters.html' %}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-12 col-md-6">
                <div class="card">
                    {% include 'public/components/latest_bug_submissions_table.html' with bugs=latest_bug_submissions %}
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="card">
                    {% include 'public/components/latest_patched_bugs_table.html' with bugs=latest_patched_bugs %}
                </div>
            </div>
        </div>

    </div>
</div>
