<h3 class="text-center">Latest Patched</h3>
<hr />
{% if not bugs %}
    <div class="alert alert-info">No bugs here!</div>
{% else %}
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Domain</th>
                <th>Patch Date</th>
            </tr>
        </thead>
        <tbody>
            {% for bug in bugs %}
                <tr>
                    <td><a href="{{ bug.get_absolute_url }}" class="text-dark">{{ bug.domain }}</a></td>
                    <td>{{ bug.bugmeta.date_fixed|timesince }} ago</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
