<h3 class="text-center">Latest Submissions</h3>
<hr />

{% if not bugs %}
    <div class="alert alert-info">No bugs here!</div>
{% else %}
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Domain</th>
                <th>Researcher</th>
                <th>Notification Date</th>
            </tr>
        </thead>
        <tbody>
            {% for bug in bugs %}
                <tr>
                    <td><a href="{{ bug.get_absolute_url }}" class="text-dark">{{ bug.domain }}</a></td>
                    <td>{{ bug.bugmeta.user }}</td>
                    <td>{{ bug.bugmeta.date_sent|timesince }} ago</td>
                </tr>
            {% empty %}
                <div class="alert alert-info">No bugs here!</div>
            {% endfor %}
        </tbody>
    </table>
{% endif %}