<script>

    var url = "{% url 'api:public:statistics-bughunting-patched-unpatched' %}";
    $.ajax(url, {
       success: function(response){
           let char_data = [];
           char_data.push(['Patched', response.patched]);
           char_data.push(['Unpatched', response.unpatched]);
           char_data.push(['Awaiting Response', response.awaiting_response]);
           show_chart(char_data);
       }
    });

    function show_chart(data){
        Highcharts.chart('fixed_unfixed_bugs_chart_container', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: 0,
                plotShadow: false
            },
            title: {
                text: 'Reported<br>bugs<br>Status',
                align: 'center',
                verticalAlign: 'middle',
                y: 40
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: true,
                        distance: -50,
                        style: {
                            fontWeight: 'bold',
                            color: 'white'
                        }
                    },
                    startAngle: -90,
                    endAngle: 90,
                    center: ['50%', '75%'],
                    size: '110%'
                }
            },
            series: [{
                type: 'pie',
                name: 'Reported Bugs Status',
                innerSize: '50%',
                data: data
            }]
        });
    }


</script>