<script>
    var url = "{% url 'api:public:statistics-bughunting-top-bug-categories' %}";
    $.ajax(url, {
       success: function(response){
           show_top_bug_categories_chart(response)
       }
    });

    function show_top_bug_categories_chart(data){
        Highcharts.chart('top_bug_categories_chart_container', {
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Top Bug Categories'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    showInLegend: true,
                    dataLabels: {
                        enabled: false
                    },
                }
            },
            series: [{
                name: 'Top Bug Categories',
                data: data
            }]
        });
    }

</script>
