<a class="list-group-item list-group-item-action" href="{{ bug.get_absolute_url }}">
    <div class="row">
        <div class="col-sm-12">
            <div class="clearfix">
                <div class="float-left">
                    <strong>{{ bug.domain }} ({{ bug.name }})</strong>
                </div>
                <div class="float-right">
                    {% include 'bughunting/components/bug_status_badge.html' with bug=bug %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="clearfix">
                <div class="float-left">
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12">
            <div class="clearfix">
                <div class="float-left">
                    <small>by {{ bug.bugmeta.user }} on {{ bug.bugmeta.date_discovered }}</small>
                </div>
                <div class="float-right">
                    {% if bug.bugmeta.date_disclosed %}
                        <small>Date disclosed: {{ bug.bugmeta.date_disclosed }}</small>
                    {% else %}
                        <small>Disclosure in {{ bug.bugmeta.date_disclosure | timeuntil }} days</small>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</a>