<div class="list-group">
    {% for comment in comments %}
        <div class="list-group-item">
            {% if comment.user %}
                <p>{{ comment.user }} - {{ comment.date|timesince }} ago</p>
            {% else %}
                <p>Domain Admin - {{ comment.date|timesince }} ago</p>
            {% endif %}
            <div class="mt-3">
                {{ comment.text }}
            </div>
        </div>
    {% empty %}
        <div class="alert alert-info">No comments yet!</div>
    {% endfor %}
</div>