{% if not bug.bugmeta.approved and not bug.bugmeta.is_draft %}
    <div class="badge badge-pill badge-info">Not approved</div>
{% elif bug.bugmeta.is_disclosed %}
    {% if bug.bugmeta.is_fixed %}
        <div class="badge badge-pill badge-success">patched</div>
    {% else %}
        <div class="badge badge-pill badge-danger">unpatched</div>
    {% endif %}
{% elif bug.bugmeta.is_draft %}
    <div class="badge badge-pill badge-secondary">draft</div>
{% else %}
    <div class="badge badge-pill badge-info">awaiting response</div>
{% endif %}