<div class="modal fade" id="edit_bug_modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Bug</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'bughunting:edit-bug' bug.pk %}">
                    {% csrf_token %}
                    {% include 'form.html' %}
                    <button class="btn btn-primary float-right">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
