{% if is_domain_owner %}
    <form class="form" method="POST" action="{% url 'bughunting:domain-owner:write-comment' bug.pk token %}">
        {% csrf_token %}
        {% include 'form.html' %}
        <button class="btn btn-primary pl-5 pr-5 float-right">Save</button>
    </form>
{% else %}
    <form class="form" method="POST" action="{% url 'bughunting:write-comment' bug.pk %}">
        {% csrf_token %}
        {% include 'form.html' %}
        <button class="btn btn-primary pl-5 pr-5 float-right">Save</button>
    </form>
{% endif %}