{% extends 'content_container.html' %}
{% load staticfiles %}

{% block extra_head %}
    <script src="{% static 'js/highcharts.js' %}"></script>
{% endblock extra_head %}


{% block title %}Home - {% endblock title %}

- top researcher

{% block content %}
    <h3 class="text-center">Home</h3>
    <hr />
    {% include 'public/components/bughunting_stats_container.html' %}
{% endblock content %}


{% block extra_scripts %}
    {% include 'public/components/charts/fixed_unfixed_bugs_semi_pie_chart.html' %}
    {% include 'public/components/charts/top_bug_categories.html' %}
{% endblock extra_scripts %}
