{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>{% block title %}{% endblock title %}Open Pentesting and Security Framework</title>
</head>
<body class="bg-dark">
    {% if messages %}
        {% for msg in messages %}
            {% include 'message.html' with message=msg %}
        {% endfor %}
    {% endif %}

     {% block content %}{% endblock content %}

    {% block extra_scripts %}{% endblock extra_scripts %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>