{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>{% block title %}{% endblock title %}Open Pentesting and Security Framework</title>
    {% block extra_head %}{% endblock extra_head %}
</head>
<body class="bg-dark">
    <div class="h-100 d-flex flex-column">
        {% include 'navigation/navbar.html' %}
        <div class="flex-row flex-grow">
            <div class="col-sm-12 col-md-8 mx-auto h-100 flex-grow card pb-4">
                <div class="mt-5"></div>
                <div class="container">
                    {% if messages %}
                        {% for msg in messages %}
                            {% include 'message.html' with message=msg %}
                        {% endfor %}
                    {% endif %}
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block extra_scripts %}{% endblock extra_scripts %}

</body>
</html>