{% load widget_tweaks %}

{% for field in form %}

    {% if field.field.widget.input_type == "checkbox" %}
        <div class="form-check">
            {% render_field field class="form-check-input" %}
            <label class="form-check-label" for="{{field.auto_id}}">{{field.label}}</label>
        </div>
    {% elif field.field.widget.input_type == "select" %}
        <div class="form-group">
            <div class="clearfix">
                    {{ field.label_tag }}
                    {{ field|add_class:"browser-default custom-select" }}


            </div>
        </div>

    {% else %}
        <div class="form-group">
            <div class="clearfix">
                {{ field.label_tag }}
                {% if field.help_text %}
                    <i class="fa fa-question-circle float-right" data-toggle="tooltip" title="{{ field.help_text}}"></i>
                {% endif %}
            </div>
            {% if form.is_bound %}
            {% if field.errors %}
              {% render_field field class="form-control is-invalid" %}
              {% for error in field.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
              {% endfor %}
            {% else %}
              {% render_field field class="form-control is-valid" %}
            {% endif %}
          {% else %}
            {% render_field field class="form-control" %}
          {% endif %}
        </div>
    {% endif %}
{% endfor %}