{% if not latest_submissions %}
  <div class="alert alert-info">No Bugs here</div>
{% else %}
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Domain</th>
        <th>Status</th>
        <th>Discovered</th>
      </tr>
    </thead>
    <tbody>
      {% for bug in latest_submissions %}
        <tr>
            <td><a href="{{ bug.get_absolute_url }}" class="text-dark">{{ bug.name }}</a></td>
          <td>{{ bug.domain }}</td>
          {% if not bug.bugmeta.is_disclosed %}
            <td>Awaiting response</td>
          {% elif bug.bugmeta.is_fixed %}
            <td>Patched</td>
          {% else %}
            <td>Unpatched</td>
          {% endif %}
          <td>{{ bug.bugmeta.date_discovered|timesince }} ago</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
