<div class="list-group">
    {% for slave in slaves %}
        <a class="list-group-item list-group-item-action" href="{% url 'master-slave:single-slave' slave.pk %}">
            {{ slave.name }}
        </a>
    {% empty %}
        <div class="alert alert-info">No Slaves here!</div>
    {% endfor %}
</div>